{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Закуски</h1>

<table border="0" width="100%">
	<tr>
		<td width="100%">
		<h2><font face="Calibri" size="5">О закусках</font></h2>
		<p><font face="Calibri" size="5">Ниже будут показаны рецепты наиболее известных закусок</font></p>&nbsp;</td>
		<hr>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Морковка по корейски</font></h2>
		<p><font face="Calibri" size="5"><h1>Ингредиенты:</h1> 
<ul>		
<li>Морковь — 1 кг</li>
<li>Чеснок — 2 головки</li>
<li>Перец чёрный молотый — 0,5 ч. ложки</li>
<li>Перец красный молотый — 0,5 ч. ложки</li>
<li>Соль — 0,5 ч. ложки</li>
<li>Сахар — 2 ст. ложки</li>
<li>Уксус — 3 ст. ложки</li>
<li>Масло растительное — 0,5 стакана</li>
</ul>
Подготовить все необходимые ингредиенты. Морковь помыть, почистить, натереть на специальной терке для моркови по-корейски. 
Добавляем чёрный молотый перец, красный молотый перец, уксус, соль, сахар, чеснок, выдавленный через чесночницу.
Хорошенько все перемешиваем. Кипятим на сковороде растительное масло. Добавляем горячее масло и снова перемешиваем.
Сложить морковь по-корейски в лоточек и можно подавать к столу. 
Всем приятного аппетита!!!
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="{% static 'images/morkovka.jpg' %}" width="333" height="250"></td>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Кабачковая икра</font></h2>
		<p><font face="Calibri" size="5"><h1>Ингредиенты:</h1> 
<ul>		
<li>Кабачок – 1 шт.</li>
<li>Лук репчатый – 1 шт.</li>
<li>Морковь – 1 шт.</li>
<li>Чеснок – 1 зубчик</li>
<li>Томатная паста – 1 ст.л</li>
<li>Паприка</li>
<li>Соль</li>
<li>Растительное масло</li>
</ul>
Лук почистите и порежьте любым удобным для вас способом. Затем отправьте лук жариться в сковороду на растительном масле.
Морковь почистите, порежьте или натрите и отправьте жариться к луку. Кабачок помойте и срежьте кожуру. 
Затем кабачок натрите или порежьте и отправьте жариться ко всем овощам. 
Приправьте овощи чесноком, пропущенным через пресс, солью, паприкой, добавьте томат-пасту и налейте немного воды. Перемешайте овощи, закройте крышкой и тушите около 20 минут.
Готовые овощи измельчите блендером до однородности и отправьте икру кабачковую охлаждаться в холодильник, так как икра вкусная именно в холодном виде. 
Вот у нас и готова икра "заморская", как говаривал, правда про баклажанную икру, дьяк Феофан в фильме "Иван Васильевич меняет профессию". В те далекие времена, овощная икра, видимо, была чем-то маловероятным, и хорошо, что они давно прошли, а мы можем готовить икру из овощей значительно чаще.
Всем приятного аппетита!!!
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="{% static 'images/kabikra.jpg' %}" width="333" height="250"></td>
	</tr>
	
</table>

{% endblock content %}
