{% load static %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Что поесть</title>
 </head>
   <style>
	body {
		background: NavajoWhite; /* Фоновый цвет */
		color: Navy; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-size: 100%;
	}
   </style>

 <body>

<header>
  <a href="{% url 'home' %}">Домашняя страница</a> | <a href="{% url 'about' %}">О сайте</a>
</header>

{% block content %}
{% endblock content %}
