{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Кулинарные советы</h1>

<table border="0" width="100%">
	<tr>
		<td width="100%">
		<h2><font face="Calibri" size="5">О кулинарных советах</font></h2>
		<p><font face="Calibri" size="5">Ниже будут представлены такие кулинарные советы, которые должен знать каждый человек, который когда-либо готовил.</font></p>&nbsp;</td>
		<hr>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Как вернуть свежесть овощам</font></h2>
Каждый может столкнуться с ситуацией, когда овощи залежались и потеряли свой первоначальный сочный и аппетитный вид. Попробуйте подержать их в уксусной воде. Это поможет вернуть им былую свежесть.
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="https://imageup.ru/img185/3759946/ovoschi-kompoziciya-kreativ.jpg" width="333" height="250"></td>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Как защитить лимон от высыхания</font></h2>
Когда для рецепта требуется несколько капель лимонного сока, лучше всего проколоть лимон гвоздем и выдавить из него необходимое количество сока.
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="https://imageup.ru/img164/3759947/folbuk_organics_119360399_323726032184680_2427393526731589266_n.jpg" width="333" height="250"></td>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Как приготовить вкусную выпечку</font></h2>
Обязательно просеивайте муку для теста. Это, пожалуй, одно из главных условий вкусной и аппетитной выпечки. Просеянная мука обогащается кислородом, и из нее удаляются посторонние примеси.
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="https://imageup.ru/img91/3759949/vipechka_k_chayu_1.jpg" width="333" height="250"></td>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Улучшите вкус рыбных блюд</font></h2>
Попробуйте обжарить рыбу на слегка подсоленной смеси растительного и сливочного масла и привычный вкус блюда заиграет новыми красками.
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="https://imageup.ru/img114/3759951/db5811357ec349a50637934433166ba1.jpg" width="333" height="250"></td>
	</tr>
	<tr>
		<td width="70%">
		<h2><font face="Calibri" size="5">Включите в рацион салатов кунжут</font></h2>
Кунжут — это богатый источник кальция. Добавляйте его в овощные салаты и другие блюда. Во-первых, это полезно, а во-вторых, эстетически очень аппетитно и симпатично.
</font></p>&nbsp;</td>
		<td width="30%">
		<img border="0" src="https://imageup.ru/img168/3759952/ef7xolfx0aikyym.jpg" width="333" height="250"></td>
	</tr>
	
</table>

{% endblock content %}
